<do-frame class="network" leftTitle="网络强国全景图">
  <do-network smallTitleTop='数据来源' smallTitleBottom='网络强国发展指数国际对标'>
    <div class="topDiv">
      <div class="col-md-2 divClass" *ngFor="let item of Arr; let i = index;">
        <img class="imgClass" src="assets/images/{{item.picName}}.png">
        <button class="btn" (click)="onClick(i)">{{item.text}}
          <span [ngClass]="{'fa':true, 'fa-caret-right': arrowShow[i], 'fa-caret-down': !arrowShow[i]}"></span>
        </button>
        <ul *ngIf="expression[i]">
          <li *ngFor="let it of item.arrList">{{it}}</li>
        </ul>
      </div>
    </div>
    <div class="bottomDiv">
      <do-echarts [options]="rightRadia" [theme]="theme" (chartLegendselected)='chartLegendselected($event)'></do-echarts>
      <div class="radialeft">
        <p-dataTable [value]="indexTable" scrollable="true" scrollHeight="100%">
          <p-column field="ranking" header="排名" [style]="{'width':'10%' , 'text-align': 'center'}"></p-column>
          <p-column field="country" header="国家" [style]="{'width':'10%' , 'text-align': 'center'}"></p-column>
          <p-column field="numericalValue" header="数值" [style]="{'width':'10%' , 'text-align': 'center'}"></p-column>
        </p-dataTable>
      </div>
    </div>
  </do-network>
</do-frame>
