do-echarts {
    width: 100%;
    height: 100%;
    /deep/.echart {
        height: 100%;
        width: 100%;
    }
}

.leftBtn1Show {
    background: url('../../../../assets/images/mapBtn.png') 0 0 no-repeat;
    background-size: 100% 100%;
    border: none;
    color: #fff;
    font-size: 2.0rem;
}

.leftBtn2Show {
    background: url('../../../../assets/images/mapHoer.png') 0 0 no-repeat;
    background-size: 100% 100%;
    border: none;
    color: #fff;
    font-size: 2.0rem;
}

.bottomDiv {
    height: 59vh;
    margin-top: 4vh;
    position: relative;
}

.leftline {
    float: left;
    width: 30%;
    height: 100%;
    .lTopline {
        height: 40%;
        width: 100%;
        margin-top: 10%;
        .popularityRate {
            width: 95%;
            height: 90%;
            font-size: 2.4rem;
            line-height: 2.4rem;
            background: url('../../../../assets/images/bigButtonImg.png') 0 0 no-repeat;
            background-size: 100% 100%;
            .divClass {
                float: left;
                width: 60%;
                padding-top: 6%;
                line-height: 3rem;
                text-align: center;
                b {
                    color: #63F6C7;
                    font-family: 'lcb';
                    font-size: 3rem;
                }
            }
        }
        .ftthLine {
            width: 100%;
            height: 100%;
        }
        .ftthButton .leftBtn1Show {
            background: url('../../../../assets/images/mapBtn.png') 0 0 no-repeat;
            background-size: 100% 100%;
            border: none;
            color: #fff;
            font-size: 2.0rem;
        }
        .ftthButton .leftBtn2Show {
            background: url('../../../../assets/images/mapHoer.png') 0 0 no-repeat;
            background-size: 100% 100%;
            border: none;
            color: #fff;
            font-size: 2.0rem;
        }
    }
    .lBottomline {
        height: 50%;
        width: 100%;
        .leftBottomMap {
            width: 100%;
            height: 100%;
        }
        .mapButton {
            width: 100%;
            height: 14%;
        }
    }
}

.rightContent {
    float: left;
    width: 70%;
    height: 100%;
    position: relative;
    .closingDate {
        position: absolute;
        top: -1%;
        right: -33%;
        font-size: 2.4rem;
    }
    /deep/ .theTitle {
        margin-top: 0% !important;
        position: absolute !important;
        font-size: 2.4rem !important;
        margin-left: 41% !important;
    }
    .mapContent {
        width: 100%;
        height: 95%;
        margin-top: 5%;
        .mapPictrue {
            width: 100%;
            height: 90%;
            .gywlDisplay {
                display: none;
            }
        }
        .mapBtn {
            width: 100%;
            height: 10%;
        }
        /deep/ .theTitle {
            margin-top: 0% !important;
            position: absolute !important;
            font-size: 3rem !important;
            margin-left: 41% !important;
        }
        .mapContent {
            width: 100%;
            height: 95%;
            margin-top: 5%;
            .mapPictrue {
                width: 100%;
                height: 90%;
                .gywlDisplay {
                    display: none;
                }
            }
            .mapBtn {
                width: 100%;
                height: 10%;
            }
            .mapChangeBtnDisplay {
                display: none;
            }
            .mapChangeBtn {
                position: absolute;
                width: 10%;
                height: 70%;
                right: 1%;
                top: 20%;
                div {
                    width: 100%;
                    height: 20%;
                }
            }
        }
        .mapBg {
            background: url('../../../../assets/images/mapBtn.png') 0 0 no-repeat;
            background-size: 100% 100%;
            border: none;
            color: #fff;
            font-size: 2rem;
        }
        .mapHoer {
            background: url('../../../../assets/images/mapHoer.png') 0 0 no-repeat;
            background-size: 100% 100%;
            border: none;
            color: #fff;
            font-size: 2rem;
        }
    }
    .col-md-2.divClass {
        float: left;
        margin-left: 2vw;
    }
    button.btn {
        font-size: 2rem;
        width: 11vw;
        background: rgba(41, 111, 220, 0.3);
        border: none;
        color: #fff;
        background-image: url('../../../../assets/images/buttonimg.png');
        background-size: 100% 100%;
        span {
            display: inline-block;
            width: 2rem;
            height: 2rem;
        }
    }
    .network {
        /deep/.boxModel.topModel {
            position: relative !important;
            z-index: 10000 !important;
        }
    }
    .topDiv ul li {
        list-style: none;
        padding: 10px;
    }
    .topDiv ul li:hover {
        background: #296fdd;
    }
    ;
    ul {
        width: 11vw;
        background: rgba(22, 58, 141, 0.6);
        max-height: 20vh;
        overflow-y: auto;
        margin: 0px;
        padding: 0px;
    }
    ul::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background: transparent;
        border: 0;
    }
    ul::-webkit-scrollbar-thumb {
        width: 5px;
        height: 5px;
        background: #174088;
        border: 0;
        border-radius: 5px;
    }
    ul::-webkit-scrollbar-corner {
        background: transparent;
    }
    img.imgClass {
        margin-left: 3vw;
        margin-top: 6vh;
        margin-bottom: 1vh;
    }
}

.topDiv {
    // width: 100%;
    // height: 11vh;
    // margin-top: 4.5vh;
    // background: url(../../../../assets/images/newCar.png) 45% 0 no-repeat;
    // background-size: 96% 100%;
    ul {
        list-style: none;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        width: 100%;
        height: 100%;
        font-size: 1.4rem;
        line-height: 1.5em;
        margin: 0px;
        padding: 5vh 1vw 0px;
        background: none !important;
    }
    li {
        position: relative;
        text-align: center;
        margin: 0px 1vw;
        padding: 6px !important;
        background: -webkit-linear-gradient(to bottom, rgba(10, 25, 87, 1), rgba(14, 33, 101, 0.2));
        /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(to bottom, rgba(10, 25, 87, 1), rgba(14, 33, 101, 0.2));
        /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(to bottom, rgba(10, 25, 87, 1), rgba(14, 33, 101, 0.2));
        /* Firefox 3.6 - 15 */
        background: linear-gradient(to bottom, rgba(10, 25, 87, 1), rgba(14, 33, 101, 0.2));
        /* 标准的语法 */
        img {
            position: absolute;
            width: 0.3vw;
            left: 2px;
            top: middle;
            height: 4vh;
            top: 3vh;
        }
        &>div {
            text-align: left;
            display: inline-block;
            padding: 0px 2vw;
        }
        h4 {
            font-size: 2.4rem;
            font-weight: bold;
            margin: 0px;
        }
        span {
            font-size: 2rem;
            margin: 0px 6px;
            color: #65FECA;
            font-weight: bold;
        }
    }
}