<do-frame leftTitle="产业大数据决策支撑应用">
    <do-data smallTitleTop='数据整合共享情况' smallTitleBottom=' 五大来源'>
        <div class="topDiv">
            <ul>
                <li>
                    <img src="assets/images/topDiv.png" alt="">基础目录&nbsp;
                    <span>212</span>&nbsp;个</li>
                <li>
                    <img src="assets/images/topDiv.png" alt="">共享目录&nbsp;
                    <span>132</span>&nbsp;个</li>
                <li>
                    <img src="assets/images/topDiv.png" alt="">共享占比&nbsp;
                    <span>623</span>&nbsp;个</li>
                <li>
                    <img src="assets/images/topDiv.png" alt="">归集数据&nbsp;
                    <span>156</span>&nbsp;个</li>
            </ul>
        </div>
        <!-- <div class="bottomDiv">
      <img id="imageId" alt="" src="">
    </div> -->
    </do-data>
</do-frame>