<do-frame class="network" leftTitle="产业大数据决策支撑应用">
  <do-network smallTitleTop='数据来源' smallTitleBottom='"宽带中国"决策支撑'>
    <div class="topDiv">
      <div class="col-md-2 divClass" *ngFor="let item of Arr; let i = index;">
        <img class="imgClass" src="assets/images/{{item.picName}}.png">
        <button class="btn" (click)="onClick(i)">{{item.text}}
          <span [ngClass]="{'fa':true, 'fa-caret-right': arrowShow[i], 'fa-caret-down': !arrowShow[i]}"></span>
        </button>
        <ul *ngIf="expression[i]">
          <li *ngFor="let it of item.arrList">{{it}}</li>
        </ul>
      </div>
    </div>
    <div class="bottomDiv">
      <do-echarts class="options3" [options]="nw2Option3" [theme]="theme" nameMap='china'></do-echarts>
      <do-echarts class="options1" [options]="nw2Option1" [theme]="theme"></do-echarts>
      <do-echarts class="options2" [options]="nw2Option2" [theme]="theme"></do-echarts>
      <div class="textClass">
        <div class="buttonClass1">FTTH覆盖家庭总量
          <br>
          <b>{{theWord}}</b>万个</div>
        <div class="buttonClass2">4G基站总量
          <br>
          <b>{{theWord1}}</b>万个</div>
        <div class="buttonClass3">行政村通光纤比例
          <br>
          <b>{{theWord2}}</b>%</div>
      </div>
    </div>
  </do-network>
</do-frame>