.bottomDiv {
    .options1 {
        width: 25vw;
        height: 35vh; // margin-top: 7vh;
        margin-left: 65%;
        position: relative;
        top: 13vh;
    }
    .options2 {
        width: 25vw;
        height: 35vh;
        margin-left: 65%;
        position: relative;
        top: 13vh;
    }
    .options3 {
        position: absolute;
        left: -4vw;
        top: 20vh;
        width: 60vw;
        height: 66vh;
    }
    .textClass {
        position: absolute;
        margin-left: 1vw;
        margin-top: -61vh;
        width: 47vw;
        height: 6vh;
    }
    .buttonClass1 {
        width: 10vw;
        height: 9vh;
        font-size: 20px;
        text-align: center;
        max-width: 10vw;
        min-width: 7vw;
        background-image: url('../../../../assets/images/buttonimg.png');
        background-size: 100% 100%;
        line-height: 45px;
        b {
            color: #63F6C7;
            font-family: 'lcb';
            font-size: 2.6rem;
        }
    }
    .buttonClass2 {
        margin-left: 4.5vw;
        width: 10vw;
        height: 9vh;
        position: absolute;
        left: 13.5vw;
        top: 0vh;
        font-size: 20px;
        text-align: center;
        min-width: 11vw;
        max-width: 3vw;
        background-image: url('../../../../assets/images/buttonimg.png');
        background-size: 100% 100%;
        line-height: 45px;
        b {
            color: #63F6C7;
            font-family: 'lcb';
            font-size: 2.6rem;
        }
    }
    .buttonClass3 {
        margin-left: 7vw;
        width: 10vw;
        height: 9vh;
        position: absolute;
        left: 30vw;
        top: 0vh;
        font-size: 20px;
        text-align: center;
        min-width: 10vw;
        max-width: 3vw;
        background-image: url('../../../../assets/images/buttonimg.png');
        background-size: 100% 100%;
        line-height: 45px;
        b {
            color: #63F6C7;
            font-family: 'lcb';
            font-size: 2.6rem;
        }
    }
}

.col-md-2.divClass {
    float: left;
    margin-left: 3vw;
}

button.btn {
    font-size: 2rem;
    width: 11vw;
    background: rgba(41, 111, 220, 0.3);
    border: none;
    color: #fff;
    background-image: url('../../../../assets/images/buttonimg.png');
    background-size: 100% 100%;
    span {
        display: inline-block;
        width: 2rem;
        height: 2rem;
    }
}

.network {
    /deep/.boxModel.topModel {
        position: relative !important;
        z-index: 10000 !important;
    }
}

.topDiv ul li {
    list-style: none;
    padding: 10px;
}

.topDiv ul li:hover {
    background: #296fdd;
}

ul {
    width: 11vw;
    background: rgba(22, 58, 141, 0.6);
    max-height: 20vh;
    overflow-y: auto;
    margin: 0px;
    padding: 0px;
}

ul::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: transparent;
    border: 0;
}

ul::-webkit-scrollbar-thumb {
    width: 5px;
    height: 5px;
    background: #174088;
    border: 0;
    border-radius: 5px;
}

ul::-webkit-scrollbar-corner {
    background: transparent;
}

img.imgClass {
    margin-left: 3vw;
    margin-top: 6vh;
    margin-bottom: 1vh;
}