do-echarts {
    width: 100%;
    height: 100%;
    /deep/.echart {
        height: 100%;
        width: 100%;
    }
}

.bottomDiv {
    height: 59vh;
    margin-top: 4vh;
    position: relative;
}

.leftBtn1Show {
    background: url('../../../../assets/images/mapBtn.png') 0 0 no-repeat;
    background-size: 100% 100%;
    border: none;
    color: #fff;
    font-size: 2.0rem;
}

.leftBtn2Show {
    background: url('../../../../assets/images/mapHoer.png') 0 0 no-repeat;
    background-size: 100% 100%;
    border: none;
    color: #fff;
    font-size: 2.0rem;
}

.leftline {
    float: left;
    width: 30%;
    height: 100%;
    margin-left: 70%;
    .lTopline {
        height: 50%;
        width: 100%;
        .ftthLine {
            width: 100%;
            height: 90%;
        }
    }
    .lBottomline {
        height: 50%;
        width: 100%;
        .leftBottomMap {
            width: 100%;
            height: 86%;
        }
        .mapButton {
            width: 100%;
            height: 14%;
        }
    }
}

.rightContent {
    float: left;
    width: 70%;
    margin-left: -100%;
    margin-top: 1%;
    height: 100%;
    .popularityRate {
        float: left;
        height: 14%;
        width: 22%;
        margin-left: 2%;
        background: url('../../../../assets/images/divBg.png') 0 0 no-repeat;
        background-size: 100% 100%;
    }
    .popularityRate span:nth-child(1) {
        // padding-left: 5%;
        display: inline-block;
        padding-top: 3%;
        font-size: 2.4rem;
    }
    .popularityRate span:nth-child(3) {
        font-size: 3.0rem;
        font-weight: bold;
        display: inline-block; // margin-left: 35%;
        // margin-top: 2%;
        color: #63F6C7;
        font-family: 'lcb';
    }
    .popularityRate span:nth-child(4) {
        font-size: 1.8rem;
        color: #a9caff;
        margin-left: 3%;
    }
    .mobileNumber {
        font-size: 2.4rem;
        float: left;
        margin-left: 13%;
        height: 4%;
        margin-top: 3%;
    }
    .mobileNumber span:nth-child(2) {
        color: #a9caff;
        display: inline-block;
        background-color: #0D3082;
        border: 1px solid #2C62B6;
        font-family: 'lcb';
    }
    .mapContent {
        width: 100%;
        height: 72%;
        margin-top: 3%;
        float: left;
        .mapPictrue {
            width: 100%;
            height: 86%;
        }
        .mapBtn {
            width: 100%;
            height: 14%;
        }
    }
    .mapBg {
        background: url('../../../../assets/images/mapBtn.png') 0 0 no-repeat;
        background-size: 100% 100%;
        border: none;
        color: #fff;
        font-size: 2rem;
    }
    .mapHoer {
        background: url('../../../../assets/images/mapHoer.png') 0 0 no-repeat;
        background-size: 100% 100%;
        border: none;
        color: #fff;
        font-size: 2rem;
    }
}

.col-md-2.divClass {
    float: left;
    margin-left: 3vw;
}

button.btn {
    font-size: 2rem;
    width: 11vw;
    background: rgba(41, 111, 220, 0.3);
    border: none;
    color: #fff;
    background-image: url('../../../../assets/images/buttonimg.png');
    background-size: 100% 100%;
    span {
        display: inline-block;
        width: 2rem;
        height: 2rem;
    }
}

.network {
    /deep/.boxModel.topModel {
        position: relative !important;
        z-index: 10000 !important;
    }
}

.topDiv ul li {
    list-style: none;
    padding: 10px;
}

.topDiv ul li:hover {
    background: #296fdd;
}

;
ul {
    width: 11vw;
    background: rgba(22, 58, 141, 0.6);
    max-height: 20vh;
    overflow-y: auto;
    margin: 0px;
    padding: 0px;
}

ul::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: transparent;
    border: 0;
}

ul::-webkit-scrollbar-thumb {
    width: 5px;
    height: 5px;
    background: #174088;
    border: 0;
    border-radius: 5px;
}

ul::-webkit-scrollbar-corner {
    background: transparent;
}

img.imgClass {
    margin-left: 3vw;
    margin-top: 6vh;
    margin-bottom: 1vh;
}