<do-frame class="network" leftTitle="网络强国全景图">
  <do-network smallTitleTop='数据来源' smallTitleBottom='信息服务'>
    <div class="topDiv">
      <div class="col-md-2 divClass" *ngFor="let item of Arr; let i = index;">
        <img class="imgClass" src="assets/images/{{item.picName}}.png">
        <button class="btn" (click)="onClick(i)">{{item.text}}
          <span [ngClass]="{'fa':true, 'fa-caret-right': arrowShow[i], 'fa-caret-down': !arrowShow[i]}"></span>
        </button>
        <ul *ngIf="expression[i]">
          <li *ngFor="let it of item.arrList">{{it}}</li>
        </ul>
      </div>
    </div>
    <div class="bottomDiv">
      <div class="leftline">
        <div class="lTopline">
          <div class="ftthLine">
            <do-echarts [options]="fixedChange" [theme]="theme"></do-echarts>
          </div>
          <div class="ftthButton">
            <button [ngClass]="{'leftBtn1Show': displayIs, 'leftBtn2Show': !displayIs}" style="margin-left: 9%; width: 43%;" (click)="leftBtnTopClicked()">固定宽带普及率</button>
            <button [ngClass]="{'leftBtn1Show': displayIsNormal, 'leftBtn2Show': !displayIsNormal}" style="margin-left: 2%; width: 43%;"
              (click)="leftBtnTop1Clicked()">移动宽带普及率</button>
          </div>
        </div>
        <div class="lBottomline">
          <div class="leftBottomMap">
            <do-echarts [options]="moveChange" [theme]="theme"></do-echarts>
          </div>
          <div class="mapButton">
            <button [ngClass]="{'leftBtn1Show': rDisplayIs, 'leftBtn2Show': !rDisplayIs}" style="margin-left: 9%; width: 43%;" (click)="leftBtnBottomClicked()">移动数据资费</button>
            <button [ngClass]="{'leftBtn1Show': rDdisplayIsNormal, 'leftBtn2Show': !rDdisplayIsNormal}" style="margin-left: 2%; width: 43%;"
              (click)="leftBtnBottom1Clicked()">移动数据流量</button>
          </div>
        </div>
      </div>
      <div class="rightContent">
        <div class="popularityRate">
          <span style="padding-left: 13%;">固定宽带普及率</span>
          <br>
          <span style="margin-left: 35%;">{{theWord}}</span>
          <span>%</span>
        </div>
        <div class="popularityRate">
          <span style="padding-left: 15%;">移动宽带普及率</span>
          <br>
          <span style="margin-left: 35%;">{{theWord1}}</span>
          <span>%</span>
        </div>
        <div class="popularityRate">
          <span style="padding-left: 7%;">每GB数据流量费用</span>
          <br>
          <span style="margin-left: 36%;">{{theWord2}}</span>
          <span>元</span>
        </div>
        <div class="popularityRate">
          <span style="padding-left: 8%;">用户月均移动流量</span>
          <br>
          <span style="margin-left: 19%;">{{theWord3}}</span>
          <span>MB</span>
        </div>
        <div class="mobileNumber">
          <span>苹果</span>
          <span>171</span>万
        </div>
        <div class="mobileNumber">
          <span>谷歌</span>
          <span>221</span>万
        </div>
        <div class="mobileNumber">
          <span>我国第三方应用生态</span>
          <span>397</span>万
        </div>
        <div class="mapContent">
          <div class="mapPictrue">
            <do-echarts [options]="rightBottomLine" [theme]="theme"></do-echarts>
          </div>
          <div class="mapBtn">
            <button *ngFor="let item of list; let i = index;" [ngClass]="{'leftBtn1Show': rBDisplayIs[i], 'leftBtn2Show': !rBDisplayIs[i]}"
              style="margin-left: 6%; width: 17%;" (click)="rightBtnBottomClicked(i)">{{item}}</button>
          </div>
        </div>
      </div>
    </div>
  </do-network>
</do-frame>
